config/.env
config/*.cypher

custom_self_consistency
shot-*.json

n4j_vector/

models/**/*
!models/
!models/minilm/
!models/minilm/paraphrase-multilingual-MiniLM-L12-v2/
!models/minilm/paraphrase-multilingual-MiniLM-L12-v2/README.md

.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
output/
*.tmp
*.temp
*.log
.DS_Store
Thumbs.db